* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(202, 201, 201);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn:active {
    width: 65%;
}

.alt {
    background-color: rgb(192, 190, 190);
}

label {
    font-size: 18px;
}

input {
    padding: 5px;
    font-size: 18px;
}

th,
td {
    padding: 8px 78px;
    text-align: center;

}

th {
    font-size: large;
}

h1 {
    padding-top: 18px;
    font-size: 80px;
}

@media screen and (max-width: 767px) {

    h1 {
        font-size: 50px;
        text-align: center;
    }

    .form {
        padding-top: 0px;
    }
}